.menu{
    margin-top: 0%;
}
p{
    font-size: 180%;
    color:white;
}
.tekkenfont{
    font-family: tekkenfont;
}
@font-face {
    font-family: tekkenfont;
    src: url(../font/tarrgetacadital.ttf);
}
body{
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: auto;
}
.menubody{
    background-image: url(../img/background/menu.jpg);
}
.gamebody{
    background-image: url(../img/background/game/default.jpg);
}
.btnmenu{
    /*background-color: rgba(0, 0, 0, 0.8);*/
    font-size: 3.5vw !important;
}
button.btnmenu{
    background-color: rgba(0, 0, 0, 0);
    text-align: left !important;
}
button.btnmenu:active {
    border-bottom: 1px solid azure;
}
.btnParam{
    margin-top:10%;
    width: 100%;
    text-align: center;
    border-radius:5px;
}
.btngame{
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
}
.display-inline{
    display: inline;
}
#checkBoxSound{
    margin-right:15px;
}
.persoList{
    width: 49%;
    min-height:180px;
    margin-top:2px;
    margin-right:2px;
    display:inline-block;
    background-color:white;
}
#gamescreen{
    border: 1px solid azure;
    margin:auto;
    margin-top: 2%;
}
#controller{
    background-color: rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 20%;
}
.character_title{
    margin-left: 2%;
    margin-top:2%;
    text-align: left;
    font-size: 200%;
}
.inputLayer{
    color: white;
    font-size: 120%;
    text-align: center;
}
.framedata_table table{
    margin-bottom: 0px;
}
.framedata_table{
    color:white;
    width: 100%;
}
.framedata_table thead {
	display:block;
}
.framedata_table tbody {
	display:block;
	height:600px;
	overflow-y:scroll;
}
.tutorial_table table{
    display: block;
    width: 100%;
    overflow-x: scroll;
}
.droitParagraph{
    font-family: droitfont;
    text-align: center;
    font-size: 150%;
}
.external_link{
    color:turquoise;
    border-bottom:1px solid aqua;
}
#panneauResult {
    position: relative;
    color: goldenrod;
    border-bottom: 0px solid deepskyblue;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
#containerPanneauResult{
    position: absolute;
}
.navbarmoney{
    margin-right:5%;
    font-size: 90%;
    text-align: right;
    border-bottom: 0px solid deepskyblue;
}
#panneauNews{
    font-size:110%;
    border-bottom: 0px solid deepskyblue;
    text-align: center;
    margin-top:7%;
    opacity: 0;
    color: goldenrod;
}
.hidden{
    display:none;
}
.result_section{
    margin-top:5%;
    color:white;
    width: 100%;
}
.persoDiv{
    padding:20px;
    border:dotted 1px;
    white-space:nowrap;
    overflow-x:auto;
    scrollbar-base-color:#ffeaff;
}
.persoSelection{
    padding:20px;
    border:dotted 1px;
    white-space:nowrap;
}