.menu{
    margin-top: 0%;
}
p{
    font-size: 180%;
    color:white;
}
.tekkenfont{
    font-family: tekkenfont;
}
@font-face {
    font-family: tekkenfont;
    src: url(../font/tarrgetacadital.ttf);
}
body{
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-size: auto;
}
.menubody{
    background-image: url(../img/background/menu.jpg);
}
.gamebody{
    background-image: url(../img/background/game/default.jpg);
}
#collectionDiv{
    text-align:center;
    background-color: #000000;
    top:0;
    width:100%;
}
.collectionlock{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
}
.collectionname{
    margin-top: -100px;
}
.noPadding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.btnmenu{
    /*background-color: rgba(0, 0, 0, 0.8);*/
    font-size: 3.5vw !important;
}
button.btnmenu{
    background-color: rgba(0, 0, 0, 0);
    text-align: left !important;
}
button.btnmenu:active {
    border-bottom: 1px solid azure;
}
.btnParam{
    margin-top:10%;
    width: 100%;
    text-align: center;
    border-radius:5px;
}
.btngame{
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
}
.display-inline{
    display: inline;
}
#checkBoxSound{
    margin-right:15px;
}
.persoList{
    width: 49%;
    min-height:180px;
    margin-top:2px;
    margin-right:2px;
    display:inline-block;
    background-color:white;
}
#gamescreen{
    border: 1px solid azure;
    margin:auto;
    margin-top: 2%;
}
#controller{
    background-color: rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 20%;
}
.character_title{
    margin-left: 2%;
    margin-top:2%;
    text-align: left;
    font-size: 200%;
}
.inputLayer{
    color: white;
    font-size: 120%;
    text-align: center;
}
.framedata_table{
    color:white;
    width: 100%;
}
.framedata_command{
    margin:1%;
}
.framedata_properties{
    color:white;
    font-size: 90%;
    width: 70%;
}
.droitParagraph{
    font-family: droitfont;
    text-align: center;
    font-size: 150%;
}
.external_link{
    color:turquoise;
    border-bottom:1px solid aqua;
}
#panneauResult {
    position: relative;
    color: goldenrod;
    border-bottom: 0px solid deepskyblue;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
#containerPanneauResult{
    position: absolute;
}
.navbarmoney{
    margin-right:5%;
    font-size: 90%;
    text-align: right;
    border-bottom: 0px solid deepskyblue;
}
#panneauNews{
    font-size:110%;
    border-bottom: 0px solid deepskyblue;
    text-align: center;
    margin-top:7%;
    opacity: 0;
    color: goldenrod;
}
.hidden{
    display:none;
}
.result_section{
    margin-top:5%;
    color:white;
    width: 100%;
}
.persoDiv{
    padding:20px;
    border:dotted 1px;
    white-space:nowrap;
    overflow-x:auto;
    scrollbar-base-color:#ffeaff;
}
.persoSelection{
    padding:20px;
    border:dotted 1px;
    white-space:nowrap;
}
#framedata_controller{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius:1000px;
    max-width: 400px;
    margin: auto;
    margin-top: 2%;
}
#btn2, #btn3{
    max-width: 30%;
    margin-left: 37%;
    float: none;
}
#btn1, #btn4{
    max-width: 60%;
}
#btn1{
    float: right;
}
#btnu, #btnd{
    max-width: 30%;
    margin-left: 36%;
    float: none;
}
#btnb, #btnf{
    max-width: 60%;
}
#btnb{
    float: right;
}
.fd_btngame{
    background-color: rgba(0, 0, 0, 0.0);
}
.btn{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}